.header {
  max-width: $desktop;
  width: 100%;
  background-color: $bg;
  padding: 2.8rem 0 2.5rem;
  display: flex;
  margin: 0 auto;
  &__search {
    width: 20px;
    height: 20px;
    border: 0;
    cursor: pointer;
    background: url("../../img/search.svg") no-repeat center;
  }
  &__logo,
  &__search {
    margin-left: auto;
  }
  &__menu {
    &--burger {
      width: 27px;
      height: 20px;
      background: url("../../img/menu-burger.svg") no-repeat center;
      @media (min-width: $desktop) {
        display: none;
      }
    }
    &--close {
      width: 20px;
      height: 20px;
      background: url("../../img/menu-close.svg") no-repeat;
    }
  }
}
