$primary: rgba(0, 0, 0, 1);
$secondary: rgba(146, 146, 146, 1);
$secondary-light: rgba(215, 215, 215, 1);
$accent: rgba(235, 0, 40, 1);
$bg: rgba(255, 255, 255, 1);
$bg-layout: rgba(255, 255, 255, 0.6);

$mobile: 375px;
$tablet: 768px;
$desktop: 1160px;
